@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

// Переменные
$primary-color: #242424;
$secondary-color: #B71B34;
$font-family: "Onest", sans-serif;


$breakpoint_lg: 992px;
$breakpoint_md: 768px;
$breakpoint_sm: 360px;


// Миксины
@mixin link-styles {
	font-family: $font-family;
	color: #fff;
	font-size: 17px;
	text-decoration: none;
	margin: 0 8px;

	&:hover {
		color: $secondary-color;
	}
}


body {

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	height: 100vh;
	// Шапка
	.header {
		background-color: $primary-color;
		height: 50px;
		padding: 10px 0;

		div {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 100%;

			div {
				a {
					@include link-styles;
				}
			}
		}

		@media (max-width: 991.98px) {

		}
		@media (max-width: 767.98px) {
			.container {
				div {
					a {
						font-size: 12px;

						img {
							width: 20px;
						}
					}
				}
			}

		}
		@media (max-width: 575.98px) {
			.container {
				div {
					a {
						font-size: 10px;

						img {
							width: 20px;
						}
					}
				}
			}
		}

	}


	.container {
		.after_header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 25px 0;

			.search {
				width: 40%;

				input {
					width: 100%;
					height: 35px;
					border: 1px solid lightgray;
					border-radius: 10px;
					padding: 0 10px;
					font-size: 12px;
				}
			}


			.card {
				display: flex;
				justify-content: space-around;
				flex-direction: row;
				align-items: center;
				border: 0;

				h6 {
					margin-left: 10px;
					font-size: 20px;
				}
			}


			@media (max-width: $breakpoint_lg) {
				.logo {
					img {
						width: 120px;
					}
				}
				.search {

					input {
					}
				}

				.like, .rainting, .card {

					img {
						width: 30px;
					}

					h6 {
					}
				}
			}

			@media (max-width: $breakpoint_md) {
				margin: 10px;
				.logo {

					img {
						max-width: 80px;
					}
				}
				.search {
					width: 150px;
				}

				.like, .rainting, .card {

					img {
						width: 20px;
					}

					h6 {
						display: none;
					}
				}


			}


			@media (max-width: $breakpoint_sm) {
				margin: 10px;
				.logo {

					img {
						width: 80px;
					}
				}
				.search {
					width: 100px;

					input {
						height: 20px;
					}
				}

				.like, .rainting, .card {

					img {
						width: 20px;
					}

					h6 {
						display: none;
					}
				}
				::-webkit-input-placeholder {
					font-size: 10px;
				}
				::-moz-placeholder {
					font-size: 10px;
				}
				/* Firefox 19+ */
				:-moz-placeholder {
					font-size: 10px;
				}
				/* Firefox 18- */
				:-ms-input-placeholder {
					font-size: 10px;
				}

			}
		}
	}

	.container {
		.banner {
			.category {
				background-color: $primary-color;

				.item {
					width: 100%;
					height: 50px;
					display: flex;
					justify-content: space-evenly;
					align-items: center;
				}


				a {
					@include link-styles;
				}
			}


			@media (max-width: 575.98px) {
				.item {
					a {
						font-size: 14px;
					}
				}
			}

			@media (max-width: 767.98px) {
			}
			@media (max-width: 991.98px) {
			}

			.banner_img {
				// position: relative;
				background-image: url("./../../img/banner.jpg");
				background-size: cover;
				padding: 100px;

				.banner_text {
					width: 50%;
					font-family: $font-family;

					h2 {
						color: #fff;
					}

					p {
						color: #fff;
						font-size: 17px;
					}

					button {
						background-color: $secondary-color;
						width: 50%;
						height: 50px;
						border: 0;

						a {
							color: #fff;
							text-decoration: none;
						}

						&:hover {
							background-color: #87192b;
						}
					}
				}

				@media (max-width: 991.98px) {
					padding: 40px 20px;
					min-height: 350px;
					.banner_text {
						width: 70%;

						h2 {
							font-size: 20px;
						}

						p {
							font-size: 16px;
							font-weight: normal;
						}
					}
				}
				@media (max-width: 767.98px) {

				}
				@media (max-width: 575.98px) {
					padding: 20px 15px;
					height: 30vh;
					.banner_text {
						width: 100%;

						h2 {
							font-size: 20px;
						}

						p {
							font-size: 16px;
							font-weight: normal;
						}

						button {
							width: 30%;
							height: 30px;
							font-size: 10px;

						}
					}
				}
			}


		}
	}

	.features {
		padding: 5px;
		display: flex;
		justify-content: space-around;
		background-color: #F3F6F9;
		margin: 30px 0;

		.container {
			div {
				display: flex;
				width: 20%;

				span {
					margin: 10px;
				}
			}
		}
	}

	.container {
		.product_owl_carousel {
			.row {
				#carousel1 {
					.item {
						.card {
							img {
								position: relative;
							}

							.content {
								position: absolute;
								top: 50%;
								left: 10px;
								color: white;

								button {
									@include link-styles;
									font-size: 15px;
									background-color: $secondary-color;
									width: 70%;
									height: 50px;
									border: 0;
									color: white;
									padding: 5px;

									&:hover {
										color: white;
										background-color: #87192b;
									}
								}
							}
						}
					}
				}

				#carousel2 {
					.item {
						border-radius: 10px;
						max-width: 90%;
						border: 1px solid lightgray;
						height: 480px;
						display: flex;
						flex-direction: column;
						justify-content: space-evenly;
						padding: 10px;

						.img-prod {
							div {
								display: flex;
								justify-content: center;

								img {
									max-width: 50%;

								}
							}
						}

						.rating {
							.rating-item {
								display: flex;
								justify-content: space-evenly;

								span i {
									margin-right: 10px;
								}
							}

							img {
								width: 16px;
								height: 16px;
							}
						}

						.product-title {
							font-weight: 400;
							font-family: "Onest", sans-serif;
						}

						.price {
							font-weight: bold;
							font-family: "Onest", sans-serif;
							font-size: 25px;
						}

						.buttons {
							display: flex;
							justify-content: space-between;
							align-items: center;

							button {
								background-color: #B71B34;
								color: white;
								font-weight: bold;
								height: 40px;
								width: 140px;
								border: none;
							}
						}

						//product response
						@media (max-width: 575.98px) {

						}

						@media (max-width: 767.98px) {
							padding: 10px;
							.img-prod {
								div {
									display: flex;
									justify-content: center;
									align-items: center;

									img {
										max-height: 80%;
									}
								}
							}
							.rating {
								.col-6 {
									i {
										width: 10px;
									}
								}

							}
							.price {
								.col-8 {

								}
							}
						}

						@media (max-width: 991.98px) {
							padding: 10px;
							.img-prod {
								div {
									display: flex;
									justify-content: center;
									align-items: center;

									img {
										max-height: 80%;
									}
								}
							}
						}
					}
				}
			}
		}
	}


	.pre-footer {
		height: 100px;
		width: 100%;
		background-color: #F3F6F9;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		padding: 10px;

		.row {
			justify-content: space-evenly;
			margin: 0;

		}

		div {
			margin-left: 10px;

			input {
				height: 45px;
				border: grey;
			}

			button {
				height: 45px;
				color: #F3F6F9;
				background-color: $secondary-color;
				border: 0;
			}
		}

		@media (max-width: 576px) {
			div {
				font-size: 14px;

				input {
					height: 25px;
				}

				button {
					height: 25px;

				}
			}

		}

	}

	// Футер
	.footer {
		background-color: $primary-color;

		.container {
			width: 100%;
			height: 230px;
			min-height: 230px;
			color: white;

			a {
				text-decoration: none;
				color: white;
			}

			.footer-top {
				display: flex;
				justify-content: space-between;
				height: 50%;
				align-items: center;
				flex-wrap: wrap;

				.catalog {
					ul {
						display: flex;
						justify-content: space-evenly;
						flex-wrap: wrap;
						li {
							list-style: none;
							margin: 5px 10px;
						}
					}
				}

			}

			.footer-bottom {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				.about {
					ul {
						display: flex;
						justify-content: space-between;
						align-items: center;
						flex-wrap: wrap;
						li {
							list-style: none;
							margin: 0 10px;
						}
					}
				}
			}
		}
		@media (max-height: 767px) {
			a{
				font-size: 13px;
			}
			.footer-top{}
			.footer-bottom{
				.about{

				}
			}
			@media (max-height: 580px) {
				a{
					font-size: 13px;
				}
				.footer-top{}
				.footer-bottom{
					.about{

					}
				}
			}
		}
	}


}


